/* 中间区域 */
.blog-center {
  margin: 0 10px;
}
  
/* 右侧课程推荐 */
.right-card {
  margin-left: 20px;
  margin-top: 10px;
}
.right-card img{
  width: 100%;
  display: flex;
}
.r-bottom{
  margin-left: 20px;
  margin-top: 10px;
}
.r-bottom span{
  font-size: 14px;
  font-weight: 500;
}
